footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-1{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    
}
.container{
    width: 70%;
    display: flex;
    text-align: center;
    justify-content: center;
}
.f-d-right{
    margin: 5px;
}
.f-d-mitte{
    margin: 5px;
}
.f-d-links{
    margin: 5px;
}
.f-d-right p{
    font-size: 12px;
}
.f-d-mitte p{
    font-size: 12px;
}
.f-d-links p{
    font-size: 12px;
}
