footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainsection1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-1{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    
}
.container{
    width: 70%;
    display: flex;
    text-align: center;
    justify-content: center;
}
.f-d-right{
    margin: 5px;
}
.f-d-mitte{
    margin: 5px;
}
.f-d-links{
    margin: 5px;
}
.f-d-right p{
    font-size: 12px;
}
.f-d-mitte p{
    font-size: 12px;
}
.f-d-links p{
    font-size: 12px;
}
.mainheadercontainer{
    width: 35%;
    color: rgb(95, 63, 14);
    text-align: center;
    margin-top: 50px;
}
.mainline{
    width: 7%;
    border: 3px solid rgb(95, 63, 14);
    margin-top: 30px;

}
.mainparagrafcontainer{
    width: 50%;
    text-align: center;
    margin-top: 30px;
    color: rgb(95, 63, 14);
}
.mainsection2{
    display: flex;
    margin-top: 80px;
    background-color: rgb(238, 238, 238);
    justify-content: center;
}
.mainsec2paragrafcontainer{
    margin-left: 90px;
    width: 50%;
    margin-top: 20px;
    color: rgb(95, 63, 14);
}
.mainsec2image{
    width: 50%;
}
.mainparagraf{
    color: rgb(37, 24, 3);
}
.mainsec2button{
    width: 100px;
    height: 30px;
    border: black 2px solid;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 5px;
}

/* Body styles */
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}
/* Landing section styles */
.landing {
    height: 50vh;
}
.landing h1 {
    font-size: 100px;
}

